<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    講座作成
  </div>
  <ul>
    <li style="text-align:center;padding-left:0"><a href="http://www.perlri.com/"><img width="110" src="https://tutorial.perlzemi.com/images/kaeru_w_01.png"><br>Perl元気塾</a></li>
  </ul>
  <div class="side-list-title">
  　ドキュメント
  </div>
  <ul>
    <li><a href="/">ドキュメントトップ</a></li>
    <li><a href="/Mojolicious::Guides::Tutorial.html">Mojoliciousを始めよう</a></li>
    <li><a href="/Mojolicious::Guides::Routing.html">ルーティング</a></li>
    <li><a href="/Mojolicious::Guides::Rendering.html">テンプレート描画</a></li>
    <li><a href="/Mojolicious::Guides::Growing.html">Mojoliciousの成長</a></li>
    <li><a href="/Mojolicious::Guides::Cookbook.html">クックブック</a></li>
    <li><a href="/Mojolicious::Guides::Contributing.html">Mojoliciousへの貢献</a></li>
    <li><a href="/Mojolicious::Guides::FAQ.html">よくある質問</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
  　APIリファレンス
  </div>
  <ul>
    <li><a href="/mojo-api-reference.html">API リファレンス</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    Perlテキスト処理のエッセンス
  </div>
  <ul>
    <li style="text-align:center;">
      <a href="https://www.perlri.com/book/perl_text_essense"><img src="https://tutorial.perlzemi.com/images/book/perl_text_essence.jpg" width="160"></a><br>
      <a href="https://www.perlri.com/book/perl_text_essense">Perlテキスト処理のエッセンス</a><br>
    </li>
  </ul>
</div>
