<!-- side -->
<div class="side-list">
  <div class="side-list-title">
  　ドキュメント
  </div>
  <ul>
    <li><a href="/">Mojoliciousドキュメント</a></li>
    <li><a href="/Mojolicious::Guides::Tutorial.html">Mojoliciousを始めよう</a></li>
    <li><a href="/Mojolicious::Guides::Routing.html">ルーティング</a></li>
    <li><a href="/Mojolicious::Guides::Rendering.html">テンプレート描画</a></li>
    <li><a href="/Mojolicious::Guides::Growing.html">Mojoliciousの成長</a></li>
    <li><a href="/Mojolicious::Guides::Cookbook.html">クックブック</a></li>
    <li><a href="/Mojolicious::Guides::Contributing.html">Mojoliciousへの貢献</a></li>
    <li><a href="/Mojolicious::Guides::FAQ.html">よくある質問</a></li>
    <li><a href="/mojo-api-reference.html">Mojolicious API リファレンス</a></li>
  </ul>
</div>
