<!-- side -->
<div class="side_list">
  <div class="side_list_title">
    ドキュメント作成
  </div>
  <ul>
    <li style="text-align:center;padding-left:0"><a rel="nofollow" href="http://perlclub.net/"><img width="110" src="https://tutorial.perlzemi.com/images/kaeru_w_01.png"><br>プロのWeb開発の技術を<br>身に着けるなら</br>Perlクラブ</a></li>
  </ul>
</div>

<div class="side_list">
  <div class="side_list_title">
  　ドキュメント
  </div>
  <ul>
    <li><a rel="nofollow"  href="/Mojolicious::Guides::Tutorial.html">Mojoliciousを始めよう</a></li>
    <li><a rel="nofollow" href="/Mojolicious::Guides::Routing.html">ルーティング</a></li>
    <li><a rel="nofollow" href="/Mojolicious::Guides::Rendering.html">テンプレート描画</a></li>
    <li><a rel="nofollow" href="/Mojolicious::Guides::Growing.html">Mojoliciousの成長</a></li>
    <li><a rel="nofollow" href="/Mojolicious::Guides::Cookbook.html">クックブック</a></li>
    <li><a rel="nofollow" href="/Mojolicious::Guides::Contributing.html">Mojoliciousへの貢献</a></li>
    <li><a rel="nofollow" href="/Mojolicious::Guides::FAQ.html">よくある質問</a></li>
  </ul>
</div>

<div class="side_list">
  <div class="side_list_title">
  　APIリファレンス
  </div>
  <ul>
    <li><a rel="nofollow" href="/mojo-api-reference.html">API リファレンス</a></li>
  </ul>
</div>

<div class="side_list">
  <div class="side_list_title">
    プロのWeb開発者になる方法
  </div>
  <ul>
    <li>
      <div style="text-align:center;margin-bottom:5px;">
        <a rel="nofollow" href="https://perlclub.net/job" target="_blank">プロのWeb開発者になるための<br>仕事の探し方・選び方</a>
      </div>
<!-- サイドバー -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
   crossorigin="anonymous"></script>
<ins class="adsbygoogle"
   style="display:block"
   data-ad-format="fluid"
   data-ad-layout-key="-gw-3+1f-3d+2z"
   data-ad-client="ca-pub-4525414114581084"
   data-ad-slot="6384959968"></ins>
<script>
   (adsbygoogle = window.adsbygoogle || []).push({});
</script>        <!-- 
      <div>
        <img src="/images/ad/ad_image_example.png">
      </div>
      -->
    </li>
  </ul>
</div>
